@import url('https://fonts.googleapis.com/css2?family=Pushster&display=swap');

#body-background {
    background-color: #280216;
}

/*Header*/
.text-header {
    color: #7072C5;
    font-family: 'Pushster', cursive;
    font-size: 50px;
    text-align: center;
    margin: auto;
}

/*Media Queries For Header*/
@media only screen and (min-width: 600px) {
    .text-header {
        font-size: 60px;
    }
}

@media only screen and (min-width: 768px) {
    .text-header {
        font-size: 70px;
    }
}

@media only screen and (min-width: 992px) {
    .text-header {
        font-size: 80px;
        padding-top: 10px;
    }
}

@media only screen and (min-width: 1200px) {
    .text-header {
        font-size: 85px;
    }
}

/*Any Other Text Besides Header*/
.sub-text {
    color: #7072C5;
    font-family: 'Pushster', cursive;
    font-size: 30px;
    text-align: center;
    margin: auto;
}

/*Media Queries for Any Other Text Besides Header*/
@media only screen and (min-width: 600px) {
    .text-header {
        font-size: 50px;
        margin: 4px;
    }
}

@media only screen and (min-width: 768px) {
    .text-header {
        font-size: 60px;
        margin: 6px;
    }
}

@media only screen and (min-width: 992px) {
    .text-header {
        font-size: 70px;
        margin: 8px;
    }
}

@media only screen and (min-width: 1200px) {
    .text-header {
        font-size: 75px;
        margin: 10px;
    }
}

/*Grid design*/
.grid {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 500px;
    margin: auto;
}

.game-card {
    border-radius: 4px;
    margin: 3px;
}

#memory-game {
    text-align: center;
    border-radius: 4px;
}

/*Media Queries for Memory Game*/
@media only screen and (min-width: 600px) {
    #memory-game {
        margin: auto;
        width: 400px;
    }
}

/*Reset Button*/ 
#reset {
    background-color: #7072C5;
    color: #280216;
    border-radius: 4px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

#reset-container {
    padding-top: 20px;
    position: relative;
    text-align: center;
    display: block;
}

/* Messages */

#win-message {
    color: #280216;
    background-color: #aac7d6;
    font-family: 'Pushster', cursive;
}

#lose-message {
    color: #280216;
    background-color: #aac7d6;
    font-family: 'Pushster', cursive;
}