@import url('https://fonts.googleapis.com/css2?family=Pushster&display=swap');

#body-background {
    background-color: #280216;
}

.text-header {
    color: #7072C5;
    font-family: 'Pushster', cursive;
    font-size: 25px;
    text-align: center;
    margin: auto;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 400px;
    margin: auto;
}

.game-card {
    border-radius: 4px;
    margin: 3px;
}

#memory-game {
    text-align: center;
    border-radius: 4px;

}
